
/* Aqui como sempre, o resete inicial */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Aqui padronizamos todos o conteúdo */
body {
  font-family: sans-serif, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Aqui é o fundo da página */
.popup {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  /*display: none;*/      /* << Aqui está a função que faz com que o pop-up fique escondido */
}

/* pop-up */
.popup-content {
  background: white;
  padding: 50px;
  width: 600px;
  border-radius: 10px;
  text-align: center;
}

.popup-content ol {
  text-align: left;
  padding: 30px;
  white-space: nowrap;
  line-height: 1.3;
}

/* Aqui fica as partes dos botões */
button {
  background-color: rgb(11, 198, 11);
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #4CAF50;
  transform: scale(1.05);
}

